body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

nav {
    background-color: #343a40;
    padding: 1em;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#game-content {
    padding: 2em;
    text-align: center;
}

textarea {
    width: 60%;
    padding: 0.5em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    resize: none;
    vertical-align: middle;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    vertical-align: middle;
}

#correctBtn {
    background-color: #28a745;
}

#incorrectBtn {
    background-color: #dc3545;
}

#figureDetails {
    margin-top: 2em;
    text-align: left;
    display: inline-block;
    border: 1px solid #dee2e6;
    padding: 1em;
    border-radius: 5px;
    background-color: #fff;
}

#figureName {
    font-size: 1.5em;
    font-weight: bold;
    color: #007bff;
}

#family ul {
    list-style-type: none;
    padding: 0;
}

#result {
    margin-top: 1em;
    font-weight: bold;
}
